body  {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 24px;
}

input {
    padding: 4px 8px;
    font-size: 16px;
    line-height: 16px;
}

label {
    margin-bottom: 4px;
}

.formGroup {
    margin-bottom: 12px;
    display: flex;
    gap: 0 8px;
}

.controlGroup {
    display: flex;
    flex-direction: column;
    gap: 0 8px;
}
